QMainWindow
{
    background-color: #5c5c5c;
    color: white;
}

/* External QTabWidget */

QTabBar
{
    background-color: #5c5c5c;
}

QTabBar::tab
{
    background-color: #5c5c5c;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #2e2e2e;
    margin-right: 1px;
}

QTabBar::tab:selected
{
    background-color: #454545;
    border: 1px solid #2e2e2e;
    border-bottom: 1px solid #191919;
}

QTabBar::tab:hover
{
    background-color: #757575;
    border: 1px solid #404040;
}

QTabWidget::pane
{
    /* This is the housing for all of the tabs*/
    background-color: #5c5c5c;
    border: 1px solid #2e2e2e;
    position: absolute;
    top: -1px;
}

/* Internal QTabWidget */

QTabWidget::pane QTabBar
{
    background-color: #5c5c5c;
    border-right: 1px solid #2e2e2e;
}

QTabWidget QWidget QTabBar::tab
{
    background-color: #5c5c5c;
    padding-top: 4px;
    padding-bottom: 5px;
    height: 50px;
    border: 10px;
    border: 1px solid #5c5c5c;
    border-right: 1px solid #2e2e2e;
    margin-right: 0px;
}

QTabWidget QWidget QTabBar::tab:!selected
{
    background-color: #5c5c5c;
    border-right: 1px solid #2e2e2e;
    border-left: 1px solid #2e2e2e;
    border-top: 1px solid #2e2e2e;
}

QTabWidget QWidget QTabBar::tab:selected
{
    background-color: #454545;
    border: 1px solid #2e2e2e;
    border-right: 1px solid #454545;
}

QTabWidget QWidget QTabBar::tab:last:!selected
{
    background-color: #5c5c5c;
    border: 1px solid #2e2e2e;
}

QTabWidget QWidget QTabBar::tab:hover
{
    background-color: #757575;
    border: 1px solid #5c5c5c;
    border-right: 1px solid #2e2e2e;
}

QTabWidget QWidget QTabBar::tab:last:hover
{
    background-color: #757575;
    border: 1px solid #5c5c5c;
    border-right: 1px solid #2e2e2e;
}

QTabWidget QWidget QTabWidget::pane /* The contents of the tab (colors, modes, leds, etc.) */
{
    background-color: #454545;
    border-top: 1px solid #2e2e2e;
    border: 1px solid #2e2e2e;
    position: absolute;
    top: 0px;
    left: -1px;
}

/* QDialog boxes */

QDialog::QWidget
{
    background: #454545;
    background-color: #454545;
    color: white;
}

QDialog QWidget::QDialogButtonBox
{
    background-color: #454545;
    color: white;
}

QDialog QWidget::QLabel
{
    background-color: #454545;
    color: white;
}

QDialog QWidget::QLineEdit
{
    background-color: #454545;
    color: white;
}

/* Buttons and combo boxes */

QPushButton, QToolButton
{
    padding: 3px;
    background-color: #404040;
    border: 1px solid #2e2e2e;
    color: white;
}

QToolButton:hover
{
    background-color: #454545;
}

QMenu
{
    background-color: #404040;
    border: 1px solid #2e2e2e;
    color: white;
}

QMenu::item:selected
{
    background-color: #454545;
}

QComboBox
{
    padding: 1px;
    background-color: #404040;
    border: 1px solid #2e2e2e;
    color: white;
}

QComboBox QAbstractItemView
{
    background-color: #404040;
    color: white;
    border: 1px solid #2e2e2e;
    selection-background-color: #303030;
}

QScrollBar:vertical
{
    background: #454545;
    border: 0px;
    margin: 0px 0px;
    width: 15px;
}

/* Arrow images
QScrollBar::up-arrow
{
    image: url(":/arrow-up.png");
}

QScrollBar::down-arrow
{
    image: url(":/arrow-down.png");
} */

QScrollBar::handle:vertical
{
    background-color: #454545;
}

QScrollBar::handle:vertical:hover
{
    background-color: #757575;
}

QComboBox::drop-down
{
    border: 0px;
}

QComboBox::down-arrow
{
    image: url(":/arrow-down.png");
}

QPushButton:!disabled:hover, QComboBox:!disabled:hover
{
    background-color: #4F4F4F;
}


QComboBox QAbstractItemView QScrollBar::handle:hover
{
    background-color: #7A7A7A;
}

QPushButton:!disabled:hover, QComboBox:!disabled:hover
{
    background-color: #4F4F4F;
}

QPushButton:disabled, QComboBox:disabled
{
    background-color: #404040;
    color: #5B5B5B;
}

QPushButton:flat
{
    border: 0px;
}

QRadioButton
{
    color: white;
}

QRadioButton::disabled
{
    color: #5B5B5B;
}

/* Line edits and block edits */

QLineEdit, QSpinBox
{
    background-color: #4F4F4F;
    border: 1px solid #5B5B5B;
    color: white;
    padding: 1px;
}

QTreeView
{
    background-color: #5c5c5c;
    color: white;
}

QHeaderView::section
{
    background-color: #454545;
    color: white;
}

QPlainTextEdit, QTextEdit
{
    background: #454545;
    color: white;
}

/* QProgressBar and QSlider */

QProgressBar
{
    border: 1px solid #2e2e2e;
    background-color: #404040;
    color: white;
}

QDialog
{
    background-color: #5c5c5c
}

/* QTableWidgets */

QTableWidget, QTableWidget *
{
    background-color: #454545;
    color: white;
}

QTableWidget QTableCornerButton::section
{
    background-color: #444444;
}

/* QScrollAreas */

QScrollArea QWidget
{
    background-color: #5c5c5c;
    color: white;
}

/* QListWidgets */

QListWidget
{
    background-color: #5c5c5c;
    color: white;
}
